.myDiv{
 display:none;
    text-align:center;
}  
.myDiv img{
  margin: 0 auto;
}
.myDiv span{
 text-align: center;
    background: #ffdede;
    padding: 6px 10px;
    display: block;
    width: 100px;
    border: 1px solid #d47c7c;
    margin: 8px auto;
}
.column{
	float:left;
	width:50%;
	padding:5px;
}

.row::after{
	content:"";
	clear:both;
	display:table;
}